/** Custom and override styles for Czr Task app */
#header-nav{
    border-radius: 0
}

.radio label, .checkbox label {
    padding-left: 0;
}
.button-checkbox .btn-link,
.button-radio .btn-link{
    color:inherit
}
.button-checkbox [class*="icon-"]:before,
.button-radio [class*="icon-"]:before{
    font-size: 120%;
}
.bootstrap-checkbox [class*="icon-"]{
    opacity: .8
}
.bootstrap-checkbox:hover [class*="icon-"]{
    opacity: 1
}
#task_priority .bootstrap-radio [class*="icon-"]{
    opacity: .6
}
#task_priority .bootstrap-radio:hover [class*="icon-"]{
    opacity: 1
}
.bootstrap-radio > .btn.btn-link{
    padding: 0 0 0 15px
}
.task-description .bootstrap-radio > .btn.btn-link{
    padding: 0 
}
/*Формы*/
fieldset hr{
    border-top:1px solid #dce4ec
}
.flex-centered .row-fluid{
    display: flex;
}
.flex-centered .row-fluid .span4{
    display: flex;
    align-items:center
}
.flex-centered .row-fluid .form-group{
    margin: auto;
}

.bootstrap-select .bs-searchbox input{
    height: 35px;
    padding: 6px 9px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}
/* Списки задач */
.inline-label.badge{
    background: none;
    color: #999;
    font-weight: normal;
}
#remove-btn{
    margin: 0 0 0 5px;
}
.feature-row{
    border-bottom: 1px solid #ddd;
    padding:10px 0
}
.feature-row:last-child{
    border-bottom: 0
}